.info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background: linear-gradient(180deg, #FFDCBB 0%, #FFFFFF 100%);
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 0;
}

.info.special::before {
  opacity: 1;
}

#betting {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;

  color: #248900;

  transition: color 1s ease-in-out; 

  -webkit-text-stroke: 0.5px #FFFFFF;
}

#betting.special {
  color: #CF7C00;
}

#timer.special {
  opacity: 0;
}

#timer_overlay {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 150%;
  /* or 38px */

  color: #000000;

  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

  background: linear-gradient(0deg, #FFFFFF, #FF9900);

  transition: opacity 1s ease-in-out;

  /* background-size: 200% 200%; */
  -webkit-background-clip: text;
  -webkit-text-stroke: 3px transparent;

  opacity: 0;
}

#timer_overlay.special {
  opacity: 1;
}

.betting {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.betInput { 
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  flex-grow: 1;
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: 50px;
  font-size: 20px;
  position: relative;
}

.red {
  background-color: #CA0000;
  cursor: default;
}

.canHoverRed {
  cursor: pointer !important;
}

.canHoverRed:hover {
  background-color: #ba0000;
}

.black {
  background-color: #171717;
  cursor: default;
}

.canHoverBlack {
  cursor: pointer !important;
}

.canHoverBlack:hover {
  background-color: #000000;
}

.button:last-child {
  margin-right: 0;
}

.mm_logo {
  width: 15px;
  position: relative;
  top: 1.8px;
  left: 4px;
  margin-right: 5px;
}

.address {
  background: linear-gradient(180deg, #CDFFBB, #FFFFFF 135%);
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  margin: 10px auto 10px;
  padding: 2px;
  padding-right: 7px;
  color: white;
  -webkit-text-stroke: 0.5px #000000;
}

.selected::before {
  border-radius: inherit;
  content: '';
  background-image: linear-gradient(to bottom, #CDFFBB 0%, #00C2FF 100%);
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  position: absolute;
  z-index: -1;
}

.sideBtn {
  padding: 10px;
  color: white;
  border: none;
  background: #eaeaea;  
  box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;

  position: absolute; /* or relative */
  left: 50%;
  top: 50%;
  grid-area:1/1;

  transition: transform 0.1s ease-in-out;
}

.openChatBtn {
  transform: translate(220px, 20px);
  padding-left: 20px;
}

.openChatBtn.hidden {
  transform: translateX(-100%); /* Moves the button off-screen to the left */
}

.settingBtn {
  transform: translate(-270px, 20px);
  padding-right: 20px;
}

.settingBtn.hidden {
  transform: translateX(100%); /* Moves the button off-screen to the left */
}

.sideBtn svg {
  transform: scale(1.5);
}

.settingsContainer {
  position: absolute; /* or relative */
  left: 50%;
  top: 50%;

  transform: translate(-150px, -120px);

  width: 300px;
  max-height: 320px;
}

.settingsHeader {
  background-color: #CDFFBB;
}

.settingsContainer.settingsOpen {
  transform: translate(-600px, -120px);
}

.settingsMenuButtons {
  display: flex;
  justify-content: space-between;
  padding: 0;
  color: white;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: -1;
  overflow: hidden;
  height: 46px;
  
  cursor: pointer;
}

.settingsMenuButtons svg {
  margin-top: 12px;
  border: none;
  cursor: pointer;
  transform: scale(1.5);
}

.settingsButton {
  padding: 0px 10px;
  padding-bottom: 5px;
  width: 50%;
  background: linear-gradient(180deg, #8E8E8E 0%, #CACACA 100%);
  
  border: 2px solid white;
  border-left-style: none;
  border-top-style: none;
}

.donationButton {
  padding: 0px 10px;
  width: 50%;
  background: linear-gradient(180deg, #8E8E8E 0%, #CACACA 100%);
  border: 2px solid white;

  border-left-style: none;
  border-top-style: none;
  border-right-style: none;
}

.active {
  background: linear-gradient(0deg, #CDFFBB 0%, #00C2FF 100%) !important;
}

.settingsContent {
  flex-grow: 1;
  padding: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #EAEAEA;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: nowrap;
}

.settingsHeaderText {
  margin-top: 30px;
  font-size: 25px;
}

.inputArea {
  height: 105px;
  position: relative;
  margin-bottom: 10px;
}

.anonymous {
  position: relative;
  top: 20px;
  left: 20px;
  font-size: 12px;
  text-align: left;
}

#anonymousLabel {
  position: relative;
  top: -2px;
}

#usernameInput {
  font-size: 12px;
  text-align: left;
  width: 60%;
}

.setUsernameButton {
  padding: 8px 10px;
  border: none;
  transform: scale(1.7);
  background: none;

  cursor: pointer;

  position: relative;
  top: 22px;
  left: 10px;
}

#showRecentDonations {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: -5px;

  text-decoration: underline;
  cursor: pointer;

  font-size: 12px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.flip {
  transform: scale(-0.07);
  top: 215px;
  left: 105px;
}

.longContent {
  max-height: 450px;
}

.recentDonationsContainer {
  width: 100%;
  height: 125px;
  background: linear-gradient(180deg, #CDFFBB 0%, #00A4D8 100%);
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.75);
  border-radius: 12px;

  text-align: left;

  overflow-y: scroll;
}
